button {
  cursor: pointer;
  background: none;
  border: none;
  border-radius: 3px;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: auto 0;
  margin: 0;
  height: 30px;
  font-size: 1rem;
  font-weight: 600;
  transition: background-color, 0.2s;
  margin-inline-end: 10px;

  &.done {
    background-color: $clr3;
    color: white;


    &:hover {
      background-color: lighten($color: $clr3, $amount: 10%)
    }
  }

  &.delete {
    color: white;

    background-color: $clr1;

    &:hover {
      background-color: darken($color: $clr1, $amount: 10%)
    }
  }



}