.root-cmp {

    .app-header {
        height: $header-height;
    }

    .app-footer {
        height: $footer-height;
    }

    >* {
        padding: 0 20px;
    }

    main {
        height: calc(100vh - $header-height);
    }
}

@media (min-width: $break-narrow) {
    .root-cmp {
        height: 100vh;

        .app-header {
            height: $header-height;
        }

        .app-footer {
            height: $footer-height;
        }

        >* {
            padding: 0 20px;
        }

        main {
            padding: 20px;
            height: calc(100vh - $header-height - $footer-height);
        }
    }
}