.app-header {
    display: flex;
    font-weight: 600;
    align-items: center;
    justify-content: space-between;
    background-color: $clr2;

    .main-nav {
        display: flex;
        gap: 10px;
        font-family: pacifico;
        font-size: 1.2rem;
    }

    .user-container {
        >* {
            cursor: pointer;
        }

        .icon-container {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}