.app-header {
    display: flex;
    font-weight: 600;
    align-items: center;
    justify-content: space-between;
    background-color: $clr2;

    .main-nav {
        display: flex;
        gap: 10px;
    }
}