.draw-app {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    .wait-title {
        text-align: center;
    }

    .word-description {
        font-size: 1rem;
        text-align: center;

        span {
            text-decoration: underline;
            color: red;
            text-transform: capitalize;
        }

        margin-bottom: 20px;
    }

    .canvas-container {
        flex-grow: 1;
        background-color: #FFF;
        height: calc(100% - 40px - 20px);
        border: 1px solid black;
        max-width: 500px;
        display: flex;
        justify-self: center;
        align-self: center;
        margin-bottom: 20px;
    }

    .actions {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 60px;

        input {
            margin-inline-end: 10px;
        }

    }

    .word-list {
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
        flex-wrap: wrap;

        >* {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px;
            padding: 0 5px;
            width: 100px;
            background-color: $clr5;
            color: #FFF;
            font-weight: 600;
            border-radius: 3px;
            text-transform: capitalize;
            cursor: pointer;
            transition: background-color, 0.2s;

            &:hover {
                background-color: lighten($color: $clr5, $amount: 10%)
            }

            &.success {
                background-color: $clr3;
            }

            &.wrong {
                background-color: $clr1;
            }
        }
    }
}