.draw-app {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    .wait-title {
        text-align: center;
    }

    .word-description {
        font-size: 1rem;
        text-align: center;

        span {
            text-decoration: underline;
            color: red;
            text-transform: capitalize;
        }

        margin-bottom: 20px;
    }

    .canvas-container {
        flex-grow: 1;
        background-color: #FFF;
        height: calc(100% - 40px - 20px);
        border: 1px solid black;
        max-width: 500px;
        display: flex;
        justify-self: center;
        align-self: center;
    }

    .actions {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 60px;

        input {
            margin-inline-end: 10px;
        }

    }
}