.start-form {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 300px;
    height: auto;
    min-height: 300px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px 10px;
    z-index: 5;
    background-color: #FFF;

    input {}

    .actions {
        display: flex;
    }

    &.loader-container{
        justify-content: center;
    }

    .loader {
        position: absolute;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 5;
    }
}